*{
    font-family: "poppins", "sans-serif";
}

#abjtop {
    display: flex;
    border: 1px solid red;
    height: 50px;
}

#abjtop > div {
    border: 1px solid red;
}

#abjtop2 {
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: flex;
    background-image: url("https://headless.expediagroup.com/content/dam/marketing/headless/images/home-page/Content-page-image-hero-LG2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

} 

#abjtop2>div {
    border: 1px solid red;
    width: 100%;
    height: 500px;
}
#abjom{
    background-color: whitesmoke;
    height: 70px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 430px;
}

#abjtop2l{
    border: 1px solid red;
}

#abjtop2l{
    border: 1px solid red;
}

#abjtop2r > div{
    border: 1px solid red;
    width: 100%;
}
#abjtop2r > div:nth-child(1){
    border: 1px solid red;
    width: 100%;
    height: 100px;
}
#imeg{
    width: 100%;
}
#abjtop2r > div:nth-child(2){
    border: 1px solid rgb(37, 29, 149);
    width: 100%;
    height: 100px;
}

#abjtop2r > div:nth-child(3){
    border: 1px solid rgb(40, 170, 64);
    width: 100%;
    height: 250px;
}

#abjbox{
    width: 80%;
    height: 90%;
    border: 1px solid green;
}


#abjadmin{
    display: flex;
    height: 96%;
}



#abjadmin > div {
    border: 1px solid red;
    width: 100%;
    height: 96%;
}

#abjlogobox{
    display: flex;
}

#abjlogobox > div{
    width: 40%;
    height: 80px;
    border: 1px solid green;

}

#abjlogobox > div > img{
    width: 65%;
    margin: auto;
}


/* BRING */


#abjbringmain{
    border: 1px solid rgb(152, 30, 71);
    width: 100%;
    height: 450px;
}

#abjbring{
    border: 1px solid green;
    width: 100%;
}

#abjbring > div{
    border: 1px solid red;
    width: 55%;   
    margin: auto;
}

#abjbringpic{
    display: flex;
    width: 80%;
    height: 300px;
    margin: auto;
}

#abjbringpic > div{
    border: 1px solid red;
    width: 80%;
    height: 96%;
}

.abjbringimage{
    display: flex;
    justify-content: center;
}

.abjbringpiccard{
    width: 100%;
}

.abjbringpiccard > div{
    width: 80%;
    margin: auto;

}

.abjbringimage > img{
    width: 35%;
    margin-bottom: 20px;
   
}

.abjpicword{
    text-align: center;
}


/* Travelocity */

#abjTravelocity{
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

#abjTravelocity > div{
    border: 1px solid red;
    width: 80%;
    height: 30%;
    margin: auto;
    
}


#Travelocitypiv{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
}

#Travelocitypiv > div {
    width: 15%;
    border: 1px solid red;
    margin: auto;
    gap: 10px;
}

.abjtrea{
    text-align: center;
    padding-top: 15px;
}

.abjtreaa{
    text-align: center;
    padding-top: 30px;

}


#abjExplore{
    width: 100%;
    height: 600px;
    border: 1px solid rgb(104, 130, 103);
    margin-top: 25px;
}

#abjExplore > div:nth-child(1){
    width: 60%;
    justify-content: center;
}

#abjExplore > div:nth-child(2){
    width: 60%;
    align-content: center;
}

.abjexpro{
    text-align: center;
}
#abjExplore > div{
    margin: auto;
    width: 80%;
    border: 1px solid rgb(181, 78, 30);
}

#abjExplorepic{
    display: flex;
    margin: auto;
    padding-top: 25px;
    margin-top: 15px;


}

#abjExplorepic > div{
    margin: auto;
    width: 45%;
    border: 1px solid rgb(22, 20, 136);
    justify-content: center;
}


#abjExplorepic > div > div{ 
    border: 1px solid rgb(22, 20, 136);
    margin: auto;
}

.abjexpimgbox > div:nth-child(1) {
    width: 40%;
    margin: auto;
    margin-bottom: 15px;

}

.abjexpimgbox > div > img{
    width: 85%;
}


#abjready {
    width: 100%;
    height: 400px;
    border: 1px solid rgb(22, 20, 136);    

}

#abjready > div  {
    width: 30%;
    height: 380px;
    margin: auto;
    border: 1px solid rgb(22, 20, 136); 
}

#abjready > div > h2,p,button{
    text-align: center;
    justify-content: center;
}
