#rd_nav{
    height: 60px;
    width: 100%;
    background-color: #004074;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#rd_logo{
    width: 15%;
    height: 90%;
    margin-left: 111px;
    border: 0px solid white;
    padding-top: 10px;
}
#rd_side_logo{
    width: 45%;
    height: auto;
   border:  0px solid white;
   margin-top: 4px;
   margin-right: 100px;
   display: flex;
   justify-content: space-between;
}
#rd_list{
    border: 1px solid white;
    color: rgb(57, 31, 107);
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
    /* padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px; */
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size:13px;
   /*LINE-HEIGHT:18;
    TEXT-ALIGN:center;
    LETTER-SPACING:normal */
}
.rd_list{
    border: 0px solid white;
    color: rgb(57, 31, 107);
    height: auto;
    width: 13%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size:13px;
}
.fa-solid{
    color: white;
    margin-top: 2px;
    height: 3px;
    width: 3px;
    margin-left: 7px;
}
#rdp{
    color: #0087f5
}
#rdp:hover{
    color: #1c6bac;
}
.rdp{
    color:white;
    margin-left: 10px;
}
#account{
    color:white;
    margin-left: 10px;
}
#support{
    color:white;
    margin-left: 10px;
}
.rd_list:hover{
    background-color: #004e93;
    
}

/* #rd_chat{
    width: 350px;
    height: 220px;
    height: 500px;
    border: 1px solid blue;
    position:absolute;
    background-color: white;
    margin-top: 250px;
    left: 70%;
    background-color: white;
    border-radius: 2%;
    display: none;
} */







#rd_vac{
    height: 50px;
    width: 100%;
    background-color:white;
    margin: auto;
    border: 0px solid blue;
    /* display: flex;
    justify-content: space-between; */
}
#rd_inner_vacation{
    width: 85%;
    height: 40px;
    margin-left: 111px;
    margin-top: 5px;
    border:  0px solid blue;
    display: flex;
    justify-content: space-between;
}
.rd_vacation{
    margin-top: 10px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    color: #004e93;

}

*:before,
*:after {
    padding: 0;
    box-sizing: border-box;
}
a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #004e93;
    font-size: 16px;
}

a:after {
    content: "";
    position: absolute;
    background-color: #004e93;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0px;
}

a:hover:after {
    width: 100%;
    margin-bottom: 0px;
}







#rd_customer{
    width: 100%;
    height: 150px;
    border: 0px solid blue;
}
#bg_img{
    width: 100%;
    height: 100%;
    /* position: fixed; */
}
#search{
    position: absolute;
    width: 30%;
    margin-top: 50px;
    padding: 15px;
    margin-left: 30%;
}
#rd_customer_service{
    position: absolute;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    color: white;
    margin-left: 111px;
    margin-top: 58px;
}
#rd_sign{
    width: 100%;
    height: 220px;
    background-color: #d5e7fb;
}
#rd_sign_div{
    margin-top: 0px;
    margin-left: 111px;
    font-size: 19px;
    padding-top: 40px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}
#rd_your{
    margin-left: 111px;
    margin-top: 0px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;

}
#rd_cancel{
    width: 70%;
    height: 60px;
    margin-left: 111px;
    margin-top: 30px;
    border: 0px solid blue;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.rd_cancel{
  border: 0px solid red;
  border-radius: 5px;
  background-color: white;
  display: flex;
}
#rd_logo_div{
    width: 30%;

}
#rd_can{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}
#rd_cancel_logo{
    width: 80%;
    height: 90%;
}





#rd_gray_div{
    width: 100%;
    height: 1000px;
    background-color: #ededed;
}
#rd_yellow_div{
    position: absolute;
    width: 80%;
    height: 60px;
    color: #7a5505;
    background-color: #f0dcb4;
    margin-top: 50px;
    margin-left: 111px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    /* padding-left: 55px;
    padding-right:55px; */
    border-left: 2px solid #7a5505;
    display: flex;
    font-size: 15px;
}
#rd_yellow_div>div:nth-child(1){
    width: 10%;
    height:100%;
    border:  0px solid white;
}
#rd_fail{
    width: 70%;
    height: 100%;
}


#rd_brows{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
     position: absolute;
     margin-top: 130px;
     margin-left: 111px;
     color: #616161;
}
#rd_popular{
    position: absolute;
    margin-top: 160px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    margin-left: 30%;
    color: #616161;
}
#rd_flight{
    width: 220px;
    height: 330px;
    border: 0px solid blue;
    position: absolute;
    margin-left: 111px;
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    gap: 2px ;
}

.flight_para{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    margin-left: 20px;
    color: blue;
    font-size: 16px;
}
#rd_flight1{
    background-color: white;
    display: flex;
    height: 41px;
}
#dtl_flight1{
    width: 100%;
    height: 200px;
    background-color: white;
    display: none;
}

#rd_flight2{
    background-color: white;
    display: flex;
    height: 41px;
}
#dtl_flight2{
    width: 100%;
    height: 200px;
    background-color: white;
    display: none;
}
#rd_flight3{
    background-color: white;
    display: flex;
    height: 41px;
}
#dtl_flight3{
    width: 100%;
    height: 200px;
    background-color: white;
    display: none;
}
#rd_flight4{
    background-color: white;
    display: flex;
    height: 41px;
}
#dtl_flight4{
    width: 100%;
    height: 200px;
    background-color: white;
    display: none;
}
#rd_flight5{
    background-color: white;
    display: flex;
    height: 41px;
}
#dtl_flight5{
    width: 100%;
    height: 200px;
    background-color: white;
    display: none;
}
#rd_flight6{
    background-color: white;
    display: flex;
    height: 41px;
}
#dtl_flight6{
    width: 100%;
    height: 200px;
    background-color: white;
    display: none;
}








.rd_flight{
    background-color: white;
    display: flex;
    height: 41px;
}
.rd_flight_logo{
    width: 20%;
    height: 100%;
    border: 0px solid blue;
}
.fa-jet-fighter{
    color: black;
    height: -40px;
}
.fa-hotel{
    color: black;
    height: -40px;
}
.fa-sharp{
    color: black;
    height: -40px;
}
.fa-car{
    color: black;
    height: -40px;
}
.fa-ship{
    color: black;
    height: -40px;
}
.fa-dice-three{
    color: black;
    height: -40px;
}




.rd_para{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
    font-size: 15px;
}


#rd_refund_div{
    width: 58%;
    height: 430px;
    border: 0px solid blue;
    position: absolute;
    margin-top: 15%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    gap: 2px ;
   
}

#rd_refund_div1{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding-top: 9px;
    color:#004e93;
    font-weight: 700;
    background-color: white;
}
.rd_refund_div{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding-top: 9px;
    color:#004e93;
    font-weight: 700;
    background-color: white;
}
#rrrr{
    width: 100%;
    height: 400px;
    background-color: white;
    overflow: scroll;
    display: none;
}
.rd_change{
    width: 95%;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    line-height: 20px;
    margin-left: 20px;
}
.rd_before{
    margin-left: 20px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;

}
.rd_full{
    margin-left: 20px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;

}
.rd_in{
    margin-left: 40px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    
}

#rd_refund_div2{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding-top: 9px;
    color:#004e93;
    font-weight: 700;
    background-color: white;
}
#mmmm{
    width: 100%;
    height: 400px;
    background-color: white;
    overflow: scroll;
    display: none;
}
hr{
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

 #rd_refund_div3{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding-top: 9px;
    color:#004e93;
    font-weight: 700;
    background-color: white;
}
#xxxx{
    width: 100%;
    height: 400px;
    background-color: white;
    overflow: scroll;
    display: none;
}
#rd_refund_div4{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding-top: 9px;
    color:#004e93;
    font-weight: 700;
    background-color: white;
}
#zzzz{
    width: 100%;
    height: 400px;
    background-color: white;
    overflow: scroll;
    display: none;
}















#rd_add_btn{
    margin-top: 50px;
    margin-left: 45%;
    color:#004074;
    padding: 10px;
    font-weight:bolder;
    border: 1px solid #004074;
    border-radius: 5px;
}
#rd_add_btn:hover{
    color:#0087f5;
}

#rd_download{
    width: 83%;
    height: 240px;
    border: 3px solid rgb(72, 72, 228);
    border-radius: 4px;
    margin: auto;
    margin-top: 30px;
}
#rd_logo_image{
    width: 60px;
    height: 60px;
    position: absolute;
    border: 0px solid blue;
    margin-top: 20px;
    margin-left: 20px;
}
#travel_image{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
#travel_app{
    position: absolute;
    margin-top: 30px;
    margin-left: 90px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    color: rgb(80, 79, 79);
}
#number{
    position: absolute;
    margin-top: 90px;
    margin-left: 90px;
    padding: 10px;
    width: 24%;
}
#rd_send{
    position: absolute;
    margin-top: 90px;
    margin-left: 450px;
    padding: 10px 10px 10px;
    width: 100px;
    background-color: #90c900;
    color: #1f1f1f;
    border: 0px solid black;
    border-radius: 5px;
}
#rd_access{
    width: 60%;
    height: 60px;
    border: 0px solid blue;
    position: absolute;
    margin-top: 130px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
   
}
.rd_access_div{
    border: 0px solid black;
    display: flex;
}
.rd_right{
    width: 14%;
    height: 80%;
    border: 0px solid red;
    background-color: blue;
    border-radius: 50%;
}
.fa-check{
    color: white;
    margin-left: 7px;
}
.rd_right_para{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    padding: 10px;
    font-weight: bolder;
}
#rd_by{
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    position: absolute;
    margin-top: 210px;
    font-size: 13px;
    margin-left: 20px;
}
#rd_barcode{
    width: 150px;
    height: 150px;
    border: 0px solid blue;
    position: absolute;
    margin-top: 47px;
    margin-left: 67%;
}
#scaner{
    width: 100%;
    height: 100%;
}




#rd_explore{
    margin-bottom: 2px;
    margin-left: 111px;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size: 13px;
    color: #616161;
    margin-top: 8px;
}
#rd_last{
    width: 83%;
    margin-left: 111px;
    margin-top: 20px;
    color: #616161;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size: 13px;
    text-align: center;
}
#rd_last_explore{
    text-align: center;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    color: #004074;
    font-weight: bolder;
    font-size: 23px;
    margin-bottom: 20px;
}

#rd_explore_div{
    width: 84%;
    height: 250px;
    margin: auto;
    margin-top: 0px;
    border: 0px solid red;
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    gap: 2px; */
    display: none;
}
.rd_exp_div{
    border: 0px solid blue;
    display: flex;
    margin-top: 10px;
}
.rd_exp_inner_div{
    width: 20%;
    border: 0px solid black;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
    color: #616161;
}
.rd_exp_long_div{
    width: 80%;
    color: black;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size: 14px; 
    line-height: 24px;
}
.rd_exp_long{
    color: black;
    width: 80%;
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size: 14px; 
    line-height: 24px;
}
#rd_flag{
    height: 45px;
}
#close_exp{
    width: 15px;
    height: 15px;
    background-color: red;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%;
}






